.title{
    text-align: center;
}
.html{
    display: flex;
}
.html-infor{
    margin-left: 100px;
}
.menu2{
    display: flex;
}
.html,
.css,
.java{
    margin-left: 100px;
}
.html1{
    display: flex;
}
.html_img{
    width: 300px;
    height: 300px;
}